# Instructions: fill in the values then rename this to .env
#
# if you use foreman to run your development server, these env variables will be picked up automatically.
# otherwise, configure your dev env with the values for these ENV variables.

# IMPORTANT NOTE: Since this is a "playground" repository, there are some defaults set in here.  
# This is COMPLETELY INSECURE but the point of the "playground" is to easily have people running code on their dev env
# to play around.  On the real platform, none of these values are here.

# get this from the team or generate one yourself for your dev env using "rake secret"
RAILS_SECRET_TOKEN=6e5fae17104f20e1f74398b51229a323873ee434b8d7cabe08cce9b28d5707fd1f49f3cfcd9b28ea2ba0b2c3babdb1e552678435a05eb148b499cac08cebf7d0

# database connection credentials
DATABASE_USERNAME=beyondz-playground
DATABASE_PASSWORD=

# the credentials to connect to the outgoing SMTP server for sending emails
SMTP_SERVER=smtp.gmail.com
SMTP_USERNAME=no-reply@beyondz.org
SMTP_PASSWORD=<password>

# This controls what links in emails sent point to.
MAILER_HOST=beyondz.org

#
# in dev or staging, don't let emails go to actual users.  instead, send them here
SMTP_OVERRIDE_RECIPIENT=<yourEmail>

# for the Amazon Web Services (AWS) S3 file storage service, this is the information used to connect
AWS_BUCKET=beyondz-dev-assets
AWS_ACCESS_KEY_ID=<key>
AWS_SECRET_ACCESS_KEY=<secret>

# the credentials to connect to the Google Drive API
GOOGLE_DRIVE_EMAIL=<email>
GOOGLE_DRIVE_PASSWORD=<password>

# These are used by the login system.
# You can generate them using almost any method, one idea on
# linux would be something like
# head -n 1 /dev/random | sha1sum

# secret key is used to protect session information.
# Changing this would invalidate all logins.
DEVISE_SECRET_KEY=991b6b05fc6f550867d0b24f8f01cee41336530918d2a36893091ccadb0027e1b0d220c050dd17849cbef72b762cc0eab0456a5ca9a7344992fa725546d36da7

# pepper is used to encrypt passwords in the database.
# Changing this would make the database unusable;
# it ought to stay the same.
DEVISE_PEPPER=dcc2cddc2ebf706faaaf1ac94e07a649194a1b53facc5116ec361283a093941955dc061bb50821b01eed7164e110767e1147f3c5c55766aaab35943009ecf9b5
